@import "tailwindcss";

.img-button {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
}

.img-button-7 {
	background-image: url("/7.png");
}

.img-button-8 {
	background-image: url("/8.png");
}

.img-button-9 {
	background-image: url("/9.png");
}

.img-button span,
.img-button {
	color: transparent;
}



