@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
 font-family: 'Pixelify Sans', var(--font-sans);
  font-weight: 400;
}

.container {
  display:flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: white;
  padding: 1rem;
  border-radius: 0.5rem;

}
.screens{
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #333;
  color: whitesmoke;
  min-height: 5rem;
  border-radius: 0.3rem;
}

.screens span{
  text-align: right;
}
.second-screen {
  color: lightgray;
  font-size: 1.1rem;
}
.second-screen {
  font-size: 2rem;
}

.inputsWrapper{
  display:grid;
  grid-template-columns: repeat(4, 50px);
  margin-top: 1rem;
  gap: 0.2rem;
}
@font-face {
  font-family: 'Pixelify Sans';
  src: url('./assets/fonts/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  /* This prevents the browser from blurring the pixels */
  font-display: swap;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

  border: 1px solid transparent;
  padding: 0;
  height: 50px;           /* choose any size you like */
  aspect-ratio: 336 / 350;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #c9b7b7;
  cursor: pointer;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
